{% extends 'index.html' %}


{% block content  %}

    {% for course in courses %}
        <a href="{{ url_for('course', course_id=course.id) }}" class="card-link">
            <div class="card mt-3" style="width: 18rem">
              <div class="card-body">
                <h5 class="card-title">{{ course.title }}</h5>
                <h6 class="card-subtitle mb-2">{{ course.teacher.username }}</h6>
                <p class="card-text">{{ course.date.strftime('%Y-%m-%d') }}</p>
              </div>
            </div>
        </a>
    {% endfor %}

{% endblock content  %}